<%= form_with(model: fono) do |form| %>
  <% if fono.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(fono.errors.count, "error") %> prohibited this fono from being saved:</h2>

      <ul>
        <% fono.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :numero, style: "display: block" %>
    <%= form.number_field :numero %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
