<p style="color: green"><%= notice %></p>

<h1>Fonos</h1>

<% if user_signed_in? %>
    <p>Usuario: <%= current_user.email %></p>
    <p>Bienvenido: <%= current_user.nombre %> <%= current_user.apellido %></p>
    <p>Id: <%= current_user.id %></p>
    <br>


    <%= link_to "Cerrar Sesion", destroy_user_session_path %>

<% else %>

    <p>Debe iniciar sesi칩n</p>
    <%= link_to "Iniciar sesi칩n", new_user_session_path %>

<% end %>

<div id="fonos">
  <table border="1px" class="table table-striped">
    <tr>
      <th>Usuario</th>
      <th>Fono</th>
      <th>Acci칩n</th>
    </tr>
    <% @fonos.each do |fono| %>
      <tr>
        <td><%= fono.user_id %></td>
        <td><%= fono.numero %></td>
        <td>
          <%= link_to image_tag("/img/ojo.png", :alt => "imagen que muestra los fonos", :class => "verfono"), fono %>
        </td>
      </tr>
    <% end %>
  </table>
</div>

<br>
<%= link_to image_tag("/img/add.png", :alt => "imagen que a침ade fonos", :class => "verfono"), new_fono_path %>
