

<h1>Matriculas de - <%= current_user.email %></h1>

<hr>

<% if @us2.count == 0 %>
    <h3>No hay matriculas aun...</h3>
<% else %>
    <h3>Matriculas actuales</h3>
<% end %>

<% @us2.each do |a| %>
    <%= a.id %> - <%= a.nombre %> <%= link_to "Eliminar matricula", 
    matriculas_eliminar_path(id: a.id, nom_as: a.nombre, us_id: current_user.id) %> <br>   
<% end %>
<br>

<%= form_with url: "/matriculas/new", method: :get do |f| %>

    <%= f.hidden_field :user_id, :value => current_user.id %> <br><br>

    <%= f.label :asignatura %> <br>    
    <%= select( nil, "asig", Asignatura.all.collect{ |a| [a.nombre, a.id] } ) %> <br><br>

    <%= f.submit "Matricularme" %>

<% end %>

<br>
<%= link_to "Volver al home", home_index_path %> <br> 
